*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: rgb(72, 42, 42);
    color: #fff;
    text-align: center;
    justify-content: center;
    height: 4rem;
    line-height: 4rem;

}

.choice{
    height: 165px;
    width: 165px;
}

img{
    height: 170px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 4rem;
}
.choice:hover{
    opacity: 0.6;
    cursor: pointer;

}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10rem;
}

#user-score,
#comp-score{
    font-size: 25px;
    text-align: center;
    
}
#msg{
    color: #fff;
    background-color:rgb(15, 14, 14);
    font-size: 25px;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;;
}
.msg-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
